<div class="container my-5">
  <%= link_to "← #{@chat.job.job_title}", job_path(@chat.job) %>

  <h1 id="chat_title"><%= @chat.title %></h1>

  <div id="messages">
    <% @messages.each do |message| %>
      <% if message.role == "user" %>
        <div class="d-flex justify-content-end mb-2">
          <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
            <p><%= message.content %></p>
          </div>
        </div>
      <% elsif message.role == "assistant" %>
        <div class="d-flex justify-content-start mb-5">
          <div class="px-3 pb-0 pt-3">
            <p><%= message.content %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="new_message_container">
    <%= simple_form_for [@job, @chat, @message] do |f| %>
      <%= f.input :content, label: false, required: true, placeholder: "Type your answer..." %>
      <%= f.button :submit, 'Ask LLM', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
